#page_wrapper {
  width: 80%;
  /* max-width: 1280px; */
  margin: 0 auto;
}

body {
  margin-bottom: 0px;
  background-color: rgb(227, 230, 233);
}

nav {
  padding: 10px 0;
  text-align: center;
  background: rgb(56, 55, 55);
  color: white;
  width: 100%;
  
}

nav ul {

  height: 120px;
    display: flex;
    align-items: center;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
  padding: 15px;
}

nav li a {
  font-family: math;
  color: rgb(248, 247, 250);
  font-size: 20px;
  text-decoration: none;
}


nav li a:hover {
  color: #dd5771;
}

.contents {
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 511px;
    padding-bottom: 296px;
    background-color: gainsboro;
}

img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(56, 55, 55);
  color: white;
  text-align: center;
}

button {
  background-color: rgb(56, 55, 55);
  color: rgb(243, 238, 238);
  border: 3px solid;
  text-decoration: 0;
}

.title h3 {}

.title p {
  margin: 50px;
}

.about {
  margin: 15px;

}

.about p {
  text-align: center;
  font-size: 50px;

}